<a href="https://colab.research.google.com/github/KJM94/career/blob/main/rhaon/jedo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [114]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [115]:
import os

os.chdir('/content/drive/MyDrive/Colab Notebooks/ra')

In [265]:
fd = pd.read_excel('감정의제도코인.xlsx')
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73709 entries, 0 to 73708
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  73708 non-null  object
 2   Unnamed: 2  73708 non-null  object
 3   Unnamed: 3  73708 non-null  object
 4   Unnamed: 4  73708 non-null  object
 5   Unnamed: 5  73708 non-null  object
 6   Unnamed: 6  73708 non-null  object
 7   Unnamed: 7  73708 non-null  object
 8   Unnamed: 8  73708 non-null  object
 9   Unnamed: 9  73708 non-null  object
dtypes: float64(1), object(9)
memory usage: 5.6+ MB

In [298]:

print(fd)

      fdUserNum   fdDesc
0      13423277      선물함
1      18561683      선물함
2      20329616      선물함
3       9561678      선물함
4      14918959      선물함
...         ...      ...
73702   5250890  보물상자 열기
73703   5250890  보물상자 열기
73704   5250890  보물상자 열기
73705   5250890  보물상자 열기
73706   5250890  보물상자 열기

[73707 rows x 2 columns]

In [267]:
# 행 삭제

# fd.columns = fd.iloc[0]
# fd = fd.reindex(fd.index.drop(0)).reset_index(drop=True)
# fd.columns.name = None
fd.info()

       NaN                  fdDateTime  ... fdResultCount   fdDesc
0      NaN  2021-07-07 00:02:55.330000  ...           611      선물함
1      NaN  2021-07-07 00:10:23.607000  ...           111      선물함
2      NaN  2021-07-07 00:46:27.803000  ...           541      선물함
3      NaN  2021-07-07 04:46:08.203000  ...           621      선물함
4      NaN  2021-07-07 04:51:26.623000  ...           111      선물함
...    ...                         ...  ...           ...      ...
73702  NaN  2021-08-09 23:59:03.863000  ...          8787  보물상자 열기
73703  NaN  2021-08-09 23:59:03.863000  ...          8792  보물상자 열기
73704  NaN  2021-08-09 23:59:03.863000  ...          8782  보물상자 열기
73705  NaN  2021-08-09 23:59:03.867000  ...          8797  보물상자 열기
73706  NaN  2021-08-09 23:59:03.867000  ...          8797  보물상자 열기

[73707 rows x 10 columns]

In [35]:
fd_tr = fd[fd['fdDesc'].str.contains('보물상자') == True]

In [36]:
print(fd_tr)

       Unnamed: 0                  Unnamed: 1  ... Unnamed: 8 Unnamed: 9
514           NaN  2021-07-07 06:34:46.780000  ...       1086    보물상자 열기
515           NaN  2021-07-07 06:34:51.547000  ...       1119    보물상자 열기
516           NaN  2021-07-07 06:34:53.610000  ...       1131    보물상자 열기
517           NaN  2021-07-07 06:34:56.080000  ...       1441    보물상자 열기
518           NaN  2021-07-07 06:35:00.723000  ...       1446    보물상자 열기
...           ...                         ...  ...        ...        ...
73704         NaN  2021-08-09 23:59:03.863000  ...       8787    보물상자 열기
73705         NaN  2021-08-09 23:59:03.863000  ...       8792    보물상자 열기
73706         NaN  2021-08-09 23:59:03.863000  ...       8782    보물상자 열기
73707         NaN  2021-08-09 23:59:03.867000  ...       8797    보물상자 열기
73708         NaN  2021-08-09 23:59:03.867000  ...       8797    보물상자 열기

[62041 rows x 10 columns]

In [66]:
print(fd_tr.count())

Unnamed: 0        0
Unnamed: 1    62041
Unnamed: 2    62041
Unnamed: 3    62041
Unnamed: 4    62041
Unnamed: 5    62041
Unnamed: 6    62041
Unnamed: 7    62041
Unnamed: 8    62041
Unnamed: 9    62041
dtype: int64

In [32]:
fd_q = fd[fd['fdDesc'].str.contains('보상') == True]

print(fd_q)

       Unnamed: 0                  Unnamed: 1  ... Unnamed: 8      Unnamed: 9
7             NaN  2021-07-07 05:45:40.410000  ...         16           미션 보상
510           NaN  2021-07-07 06:33:57.880000  ...        856           미션 보상
721           NaN  2021-07-07 08:32:34.067000  ...        381           미션 보상
1078          NaN  2021-07-07 09:16:18.097000  ...        976           미션 보상
1171          NaN  2021-07-07 09:21:53.180000  ...       1742  경쟁 이벤트 포인트별 보상
...           ...                         ...  ...        ...             ...
73290         NaN  2021-08-09 22:20:25.397000  ...      14933          기사단 보상
73291         NaN  2021-08-09 22:20:27.053000  ...      14934          기사단 보상
73301         NaN  2021-08-09 22:33:13.517000  ...      16091          기사단 보상
73370         NaN  2021-08-09 22:54:36.667000  ...      16092          기사단 보상
73399         NaN  2021-08-09 23:07:42.837000  ...      12805          기사단 보상

[6372 rows x 10 columns]

In [67]:
print(fd_q.count())

Unnamed: 0       0
Unnamed: 1    6372
Unnamed: 2    6372
Unnamed: 3    6372
Unnamed: 4    6372
Unnamed: 5    6372
Unnamed: 6    6372
Unnamed: 7    6372
Unnamed: 8    6372
Unnamed: 9    6372
dtype: int64

In [110]:
fd_u = fd.groupby('Unnamed: 2').size()

print(fd_u)
print(fd_u.count())

Unnamed: 2
46015658          7179
49208205          3305
49829987          2167
50852025          2750
56151953          1801
56221291         25048
57670822           609
57798075          4830
58131623          2626
60028001          2582
79201071          2298
100904023         1616
156455378        11703
158873969         5193
fdAuthUserNum        1
dtype: int64
15

In [109]:
fd_u = fd.groupby('fdUserNum').size()

print(fd_u)
print(fd_u.count())

Unnamed: 3
5250890       7179
7696293       3305
8181512       2167
8972974       2750
9561678      11703
13423277      1801
13484287     25048
14809816       609
14918959      4830
15221565      2626
16978750      2582
18561683      2298
18944996      1616
20329616      5193
fdUserNum        1
dtype: int64
15

In [111]:
fd_u = fd.groupby('Unnamed: 4').size()

print(fd_u)
print(fd_u.count())

Unnamed: 4
Headcut          7179
SlimeRancher     1801
aespa            2750
fdNickname          1
강윤오              2582
댱쁘                982
맥국수               609
무쮜               2626
박명하              2298
사형소              2167
상대               4830
스타              11703
썬OI              1616
유리성             25048
카카오스토리           3305
형상               4211
dtype: int64
16

In [95]:
fd_count = fd.groupby('fdDesc').size()

print(fd_count)

Unnamed: 9
GM툴 - 아이템 지급                            500
fdDesc                                    1
usp_Get_Archives_Reward                  17
usp_SeasonChannel_UserWinnerReward      609
게임 결과 보상                                 97
경쟁 이벤트 포인트별 보상                          193
교환시스템 사용                                484
구매결정                                     65
기념일 오브젝트 사용                             196
기념일 이벤트                                   7
기사단 보상                                  143
낚시 획득                                   156
미션 보상                                  5881
보물상자 열기                               62041
선물함                                    1255
출석체크 보상                                  25
퀘스트 보상                                   33
테일즈 마블 주사위 던지기                         1668
할인 쿠폰 사용                                337
dtype: int64

In [213]:
fd_g1 = fd.loc[fd['fdDesc']=='게임 결과 보상'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)

print(fd_g1)
print(fd_g1.count())

fdUserNum
14918959    24
16978750    23
15221565    18
5250890      9
8972974      8
18561683     5
8181512      5
18944996     2
13423277     2
7696293      1
Name: fdUserNum, dtype: int64
10

In [269]:
fd.drop(['fdCount', 'fdItemName', 'fdDateTime', 'fdNickname', 'fdResultCount', 'fdItemNum', 'fdAuthUserNum' ], axis=1, inplace=True)

In [270]:
fd.dropna(axis=1, inplace=True)

In [271]:
fd

      fdUserNum   fdDesc
0      13423277      선물함
1      18561683      선물함
2      20329616      선물함
3       9561678      선물함
4      14918959      선물함
...         ...      ...
73702   5250890  보물상자 열기
73703   5250890  보물상자 열기
73704   5250890  보물상자 열기
73705   5250890  보물상자 열기
73706   5250890  보물상자 열기

[73707 rows x 2 columns]

In [274]:
fd_g1_r = fd.set_index(['fdDesc', 'fdUserNum']).groupby(level=[1, 0]).count()

fd_g1_r

# fd_g1_re = fd_g1_r.loc[fd_g1_r['fdDesc']=='게임 결과 보상'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
# print(fd_g1_r)
# print(fd_g1_re)

Empty DataFrame
Columns: []
Index: [(5250890, usp_Get_Archives_Reward), (5250890, usp_SeasonChannel_UserWinnerReward), (5250890, 게임 결과 보상), (5250890, 경쟁 이벤트 포인트별 보상), (5250890, 교환시스템 사용), (5250890, 기념일 오브젝트 사용), (5250890, 기념일 이벤트), (5250890, 기사단 보상), (5250890, 낚시 획득), (5250890, 미션 보상), (5250890, 보물상자 열기), (5250890, 선물함), (5250890, 출석체크 보상), (5250890, 퀘스트 보상), (5250890, 테일즈 마블 주사위 던지기), (5250890, 할인 쿠폰 사용), (7696293, usp_Get_Archives_Reward), (7696293, usp_SeasonChannel_UserWinnerReward), (7696293, 게임 결과 보상), (7696293, 경쟁 이벤트 포인트별 보상), (7696293, 교환시스템 사용), (7696293, 기념일 오브젝트 사용), (7696293, 기념일 이벤트), (7696293, 기사단 보상), (7696293, 낚시 획득), (7696293, 미션 보상), (7696293, 보물상자 열기), (7696293, 선물함), (7696293, 출석체크 보상), (7696293, 퀘스트 보상), (7696293, 테일즈 마블 주사위 던지기), (7696293, 할인 쿠폰 사용), (8181512, usp_Get_Archives_Reward), (8181512, usp_SeasonChannel_UserWinnerReward), (8181512, 게임 결과 보상), (8181512, 경쟁 이벤트 포인트별 보상), (8181512, 교환시스템 사용), (8181512, 기념일 오브젝트 사용), (8181512, 기념일 이벤트), (8181512, 낚시 획득), (8181512, 미션 보상), (8181512, 보물상자 열기), (8181512, 선물함), (8181512, 출석체크 보상), (8181512, 퀘스트 보상), (8181512, 테일즈 마블 주사위 던지기), (8181512, 할인 쿠폰 사용), (8972974, usp_Get_Archives_Reward), (8972974, usp_SeasonChannel_UserWinnerReward), (8972974, 게임 결과 보상), (8972974, 경쟁 이벤트 포인트별 보상), (8972974, 교환시스템 사용), (8972974, 구매결정), (8972974, 기념일 오브젝트 사용), (8972974, 기념일 이벤트), (8972974, 기사단 보상), (8972974, 낚시 획득), (8972974, 미션 보상), (8972974, 보물상자 열기), (8972974, 선물함), (8972974, 출석체크 보상), (8972974, 퀘스트 보상), (8972974, 테일즈 마블 주사위 던지기), (8972974, 할인 쿠폰 사용), (9561678, usp_Get_Archives_Reward), (9561678, usp_SeasonChannel_UserWinnerReward), (9561678, 경쟁 이벤트 포인트별 보상), (9561678, 교환시스템 사용), (9561678, 구매결정), (9561678, 기념일 오브젝트 사용), (9561678, 기념일 이벤트), (9561678, 기사단 보상), (9561678, 낚시 획득), (9561678, 미션 보상), (9561678, 보물상자 열기), (9561678, 선물함), (9561678, 출석체크 보상), (9561678, 퀘스트 보상), (9561678, 테일즈 마블 주사위 던지기), (9561678, 할인 쿠폰 사용), (13423277, usp_SeasonChannel_UserWinnerReward), (13423277, 게임 결과 보상), (13423277, 경쟁 이벤트 포인트별 보상), (13423277, 기사단 보상), (13423277, 낚시 획득), (13423277, 미션 보상), (13423277, 보물상자 열기), (13423277, 선물함), (13423277, 출석체크 보상), (13423277, 퀘스트 보상), (13423277, 테일즈 마블 주사위 던지기), (13423277, 할인 쿠폰 사용), (13484287, usp_SeasonChannel_UserWinnerReward), (13484287, 경쟁 이벤트 포인트별 보상), (13484287, 교환시스템 사용), (13484287, 기념일 오브젝트 사용), (13484287, 낚시 획득), (13484287, 미션 보상), (13484287, 보물상자 열기), (13484287, 선물함), ...]

[192 rows x 0 columns]

In [199]:
fd_g2 = fd.loc[fd['fdDesc']=='기사단 보상'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd_g2)
print(fd_g2.count())

fdUserNum
13423277    48
5250890     39
18561683    31
7696293     10
8972974      9
9561678      4
16978750     2
Name: fdUserNum, dtype: int64
7

In [297]:
fd_g3 = fd.loc[fd['fdDesc']=='보물상자 열기'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd_g3)
print(fd_g3.count())

fdUserNum
13484287    24633
9561678     10155
5250890      6013
20329616     4790
14918959     3671
7696293      2584
8972974      1796
15221565     1586
16978750     1557
8181512      1351
18944996     1350
18561683     1302
13423277     1200
14809816       53
Name: fdUserNum, dtype: int64
14

In [201]:
# 미션 보상
condition1 = (fd['fdDesc'] == '미션 보상')

# 퀘스트 보상
condition2 = (fd['fdDesc'] == '퀘스트 보상')

fd_g4 = fd.loc[condition1 | condition2].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd_g4)
print(fd_g4.count())

fdUserNum
18561683    679
14918959    652
9561678     620
16978750    617
8972974     617
15221565    600
5250890     584
8181512     555
7696293     426
13423277    375
18944996    112
13484287     62
14809816     13
20329616      2
Name: fdUserNum, dtype: int64
14

In [202]:
# GM툴 - 아이템 지급                            500
# usp_Get_Archives_Reward                  17
# usp_SeasonChannel_UserWinnerReward      609
# 경쟁 이벤트 포인트별 보상                          193
# 교환시스템 사용                                484
# 구매결정                                     65
# 기념일 오브젝트 사용                             196
# 기념일 이벤트                                   7
# 낚시 획득                                   156
# 선물함                                    1255
# 출석체크 보상                                  25
# 테일즈 마블 주사위 던지기                         1668
# 할인 쿠폰 사용                                337


condition3 = (fd['fdDesc'] == 'GM툴 - 아이템 지급')


condition4 = (fd['fdDesc'] == 'usp_Get_Archives_Reward')


condition5 = (fd['fdDesc'] == 'usp_SeasonChannel_UserWinnerReward')


condition6 = (fd['fdDesc'] == '경쟁 이벤트 포인트별 보상')


condition7 = (fd['fdDesc'] == '교환시스템 사용')


condition8 = (fd['fdDesc'] == '구매결정')


condition9 = (fd['fdDesc'] == '기념일 오브젝트 사용')


condition10 = (fd['fdDesc'] == '기념일 이벤트')


condition11 = (fd['fdDesc'] == '낚시 획득')


condition12 = (fd['fdDesc'] == '선물함')


condition13 = (fd['fdDesc'] == '출석체크 보상')


condition14 = (fd['fdDesc'] == '테일즈 마블 주사위 던지기')


condition15 = (fd['fdDesc'] == '할인 쿠폰 사용')

fd_g5 = fd.loc[condition3 | condition4 | condition5 | condition6 | condition7 | condition8 | condition9 | condition10
               | condition11 | condition12 | condition13 | condition14 | condition15].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd_g5)
print(fd_g5.count())

fdUserNum
9561678     924
14809816    543
5250890     534
14918959    483
15221565    422
20329616    401
16978750    383
13484287    353
8972974     320
7696293     284
18561683    281
8181512     256
13423277    176
18944996    152
Name: fdUserNum, dtype: int64
14

In [206]:
df_frame = pd.concat([fd_g1, fd_g2, fd_g3, fd_g4, fd_g5])

print(df_frame)
print(df_frame.count())
print(df_frame.sum())

fdUserNum
14918959       24
16978750       23
15221565       18
5250890         9
8972974         8
18561683        5
8181512         5
18944996        2
13423277        2
7696293         1
13423277       48
5250890        39
18561683       31
7696293        10
8972974         9
9561678         4
16978750        2
13484287    24633
9561678     10155
5250890      6013
20329616     4790
14918959     3671
7696293      2584
8972974      1796
15221565     1586
16978750     1557
8181512      1351
18944996     1350
18561683     1302
13423277     1200
14809816       53
18561683      679
14918959      652
9561678       620
16978750      617
8972974       617
15221565      600
5250890       584
8181512       555
7696293       426
13423277      375
18944996      112
13484287       62
14809816       13
20329616        2
9561678       924
14809816      543
5250890       534
14918959      483
15221565      422
20329616      401
16978750      383
13484287      353
8972974       320
7696293       284
18561683      281
8181512       256
13423277      176
18944996      152
Name: fdUserNum, dtype: int64
59
73707

In [207]:
df_frame.to_excel('fdUserNumCount.xlsx')

In [278]:
fd2 = pd.read_excel('감정의제도코인.xlsx', sheet_name = 1)

In [279]:
#행 삭제

# fd2.columns = fd2.iloc[0]
# fd2 = fd2.reindex(fd2.index.drop(0)).reset_index(drop=True)
# fd2.columns.name = None

print(fd2)

       NaN                  fdDateTime  ... fdAll    fdDesc
0      NaN  2021-07-07 19:21:21.520000  ...     0   캡술머신 사용
1      NaN  2021-07-07 19:21:52.097000  ...     0   캡술머신 사용
2      NaN  2021-07-07 19:21:57.920000  ...     0   캡술머신 사용
3      NaN  2021-07-07 19:22:28.043000  ...     0   캡술머신 사용
4      NaN  2021-07-07 19:22:33.777000  ...     0   캡술머신 사용
...    ...                         ...  ...   ...       ...
20345  NaN  2021-08-08 22:03:19.520000  ...     0  교환시스템 사용
20346  NaN  2021-08-08 22:03:35.137000  ...     0     휴몽 뽑기
20347  NaN  2021-08-08 22:03:37.863000  ...     0     휴몽 뽑기
20348  NaN  2021-08-08 22:03:39.750000  ...     0     휴몽 뽑기
20349  NaN  2021-08-08 22:03:41.673000  ...     0     휴몽 뽑기

[20350 rows x 10 columns]

In [286]:
fd2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20350 entries, 0 to 20349
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nan            0 non-null      float64
 1   fdDateTime     20350 non-null  object
 2   fdAuthUserNum  20350 non-null  object
 3   fdUserNum      20350 non-null  object
 4   fdNickname     20350 non-null  object
 5   fdItemNum      20350 non-null  object
 6   fdDelCount     20350 non-null  object
 7   fdBeforeCount  20350 non-null  object
 8   fdAll          20350 non-null  object
 9   fdDesc         20350 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.6+ MB

In [283]:
fd2_u = fd2.groupby('fdUserNum').size()

print(fd2_u)

fdUserNum
5250890     2388
7696293      580
8181512      109
8972974      632
9561678     3600
13423277      72
13484287    7740
14809816      29
14918959     484
15221565     510
16978750     169
18561683     224
18944996     148
20329616    3665
dtype: int64

In [288]:
fd2_count = fd2.groupby('fdDesc').size()

print(fd2_count)

fdDesc
usp_PrivatePuzzle_Pick                              1569
usp_competitionEvent_UpgradeSeasonPass                13
usp_competitionEvent_addPoint_ToNextLevelReward      146
교환시스템 사용                                             113
캡술머신 사용                                            10198
테일즈 마블 주사위 게이즈 채우기                                  4251
휴몽 뽑기                                               4060
dtype: int64

In [289]:
fd2_g1 = fd2.loc[fd2['fdDesc']=='캡술머신 사용'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd2_g1)
print(fd2_g1.count())

fdUserNum
13484287    5687
20329616    1208
9561678     1032
5250890      973
8972974      389
14918959     328
15221565     236
18944996      96
18561683      81
16978750      68
7696293       64
13423277      34
14809816       1
8181512        1
Name: fdUserNum, dtype: int64
14

In [290]:
fd2_g2 = fd2.loc[fd2['fdDesc']=='usp_PrivatePuzzle_Pick'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd2_g2)
print(fd2_g2.count())

fdUserNum
13484287    409
20329616    361
9561678     293
5250890     125
16978750    100
14918959     85
15221565     69
7696293      64
8181512      18
18944996     16
18561683     16
8972974      13
Name: fdUserNum, dtype: int64
12

In [291]:
fd2_g3 = fd2.loc[fd2['fdDesc']=='교환시스템 사용'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd2_g3)
print(fd2_g3.count())

fdUserNum
20329616    28
14809816    20
9561678     20
13484287    17
18944996    12
13423277     9
8972974      4
15221565     1
8181512      1
7696293      1
Name: fdUserNum, dtype: int64
10

In [292]:
fd2_g4 = fd2.loc[fd2['fdDesc']=='휴몽 뽑기'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd2_g4)
print(fd2_g4.count())

fdUserNum
20329616    2049
13484287    1034
9561678      815
18561683      49
14918959      49
7696293       47
8972974        9
5250890        5
15221565       2
14809816       1
Name: fdUserNum, dtype: int64
10

In [293]:
fd2_g5 = fd2.loc[fd2['fdDesc']=='usp_competitionEvent_UpgradeSeasonPass'].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd2_g5)
print(fd2_g5.count())

fdUserNum
20329616    1
18944996    1
18561683    1
16978750    1
15221565    1
14918959    1
13484287    1
13423277    1
9561678     1
8972974     1
8181512     1
7696293     1
5250890     1
Name: fdUserNum, dtype: int64
13

In [295]:
# 테일즈 마블 주사위 게이즈 채우기
condition20 = (fd2['fdDesc'] == '테일즈 마블 주사위 게이즈 채우기')

# usp_competitionEvent_addPoint_ToNextLevelReward
condition21 = (fd2['fdDesc'] == 'usp_competitionEvent_addPoint_ToNextLevelReward')

fd2_g5 = fd2.loc[condition20 | condition21].groupby('fdUserNum')['fdUserNum'].count().sort_values(ascending=False)
print(fd2_g5)
print(fd2_g5.count())

fdUserNum
9561678     1439
5250890     1284
13484287     592
7696293      403
8972974      216
15221565     201
8181512       88
18561683      77
13423277      28
18944996      23
14918959      21
20329616      18
14809816       7
Name: fdUserNum, dtype: int64
13